@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.48573;
	font-size: 14px;
	font-family: "Helvetica","PingFangSC-Regular","Microsoft YaHei","华文细黑" , "微软雅黑", Arial, STXihei,  SimSun;
	-webkit-font-smoothing: antialiased;
	color: #333;
	background-color: $bg-color;
	width: 375px;
	margin:0 auto;
}
html {
	background-color: transparent;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration:none;
	color:#666;
}
img{
	vertical-align:top;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clearfix{zoom:1;}

input,textarea,select{
	box-sizing: content-box;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover {
	text-decoration: none;
}

.no-data{
	background: #ECECEC;
	border-radius: 3px;
	text-align: center;
	overflow:hidden;
	position: relative;
	&:after{
		content:'\e717';
		font-family: 'iconfont';
		font-size: 45px;
		color: #DCD0CF;
		line-height: 1;
		position: absolute;
		width: 45px;
    	height: 45px;
    	top: 50%;
    	left: 50%;
    	margin-left: -23px;
    	margin-top: -23px;
	}
}


.mt-10 {
  margin-top: 10px;
}
.mt-16 {
  margin-top: 16px;
}
.fs-16 {
	font-size: 16px!important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container {
  position: relative;
	padding-bottom:50px;
}

.hide {
	display: none!important;
}

.ta-r {
	text-align: right;
}

