@import '../common/_configuration.scss';
@import '../browser/_reset.scss';
@import '../common/common.scss';
@import '../vendor/swiper.css';
@import '../vendor/weui.min.css';
.swiper-container {
  width: 375px;
  height: 170px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
}

.top-entry {
  border-bottom: 1px solid #ECECEC;
  display: flex;
  background-color: #fff;
  .item {
    &:first-child {
      border-left: 0;
    }
    display: block;
    padding:16px 15px;
    border-left:1px solid #ECECEC;
    position: relative;
    i {
      position:absolute;
      right:15px;
      top:20px;
    }
  }
  .title {
    width: 110px;
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    color: #333;
    display: block;
  }
  .title-sub {
    color: #999;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    margin-top:5px;
    display: block;
  }
}

.weui-tab {
  padding-top:45px;
  .weui-navbar {
    height: 45px;
    background-color: #fff;
    .weui-navbar__item {
      padding: 0;
      &::after {
        border:0;
      }
      a {
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        line-height: 42px;
        border-bottom: 3px solid #fff;
      }
    }
    .weui-bar__item_on {
      background-color: #fff;
      a {
        border-bottom: 3px solid $primary-color;
      }
    }
  }
  .weui-navbar-fixed {
    position: fixed;
    top:0;
    left:0;
  }
  .weui-tab__panel {
    padding-top:0;
  }
}

.prod-list {
  width: 355px;
  margin: 0 auto;
  li {
    background-color: #fff;
    width: 355px;
    height: 218px;
    border-radius: 5px;
    overflow: hidden;
    .img-wrap {
      position: relative;
      img {
        width: 355px;
        height: 160px;
      }
      .tag-type {
        position: absolute;
        top:25px;
        left:0;
        height: 25px;
        line-height: 25px;
        padding:0 9px;
        background-color:$primary-color;
        font-size: 14px;
        color: #fff;
        border-radius: 0 13px 13px 0;
      }
    }
    .txt-wrap {
      padding: 8px 10px 9px;
      .txt-head {
        overflow: hidden;
      }
      .title {
        font-size: 16px;
        height: 21px;
        line-height: 21px;
        color: nth($text-color, 1)
      }
      .price {
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: $primary-color;
        &::before {
          margin-right: 3px;
        }
        &::after {
          content: '起';
          font-size: 12px;
          color: #BEBEBE;
          padding-left:3px;
        }
      }
      .txt-sub {
        font-size: 12px;
        line-height: 20px;
        color: nth($text-color ,3)
      }
    }
  }
}