.btn-wrap {
  display: flex;
  padding: 0 30px 30px;
  margin-top: 10px;
  .btn {
    flex: 1;
    &:first-child {
      margin-left: 0;
    }
  }
}

.btn {
  height: 80px;
  line-height: 80px;
  width: 335px;
  margin-left: 20px;
  border-radius: 6px;
  text-align: center;
  font-size: 36px;
  border: 0;
  display: inline-block;
}

.btn-medium {
  width: 335px;
}

.weui-btn:not(.btn-disable):active {
  color: hsla(0, 0%, 100%, .6);
}

.btn-cancel {
  background-color: #F0F0F0;
  color: nth($text-color, 3);
}

.btn-okay {
  background-color: $primary-color;
  color: #fff;
}

.btn-info {
  width: 190px;
  height: 50px;
  line-height: 50px;
  border:2px solid $primary-color; /*no*/
  color: $primary-color;
  font-size: 24px;
}