.form {
  .form-hd {
    padding: 40px 30px 20px;
    border-bottom: 2px solid $border-color;
    /*no*/
    span {
      border-left: 6px solid $primary-color;
      padding-left: 20px;
      font-size: 28px;
    }
  }
  .form-bd {
    background-color: #fff; // padding: 0 30px;
    border-bottom: 2px solid $border-color;
    /*no*/
  }
  .form-ft {
    .btn {
      margin: 60px auto;
      width: 690px; // height: 45px;
      display: block;
    }
  }
}

.form-group {
  border-top: 2px solid $border-color;
  /*no*/
  height: 88px;
  font-size: 28px;
  margin: 0 30px;
  display: flex;
  &:first-child {
    border-top: 0;
  }
  input {
    width: 100%;
    -webkit-appearance: none;
    font-size: 28px;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 80px;
    line-height: 80px;
    margin-top: 6px;
    color: nth($text-color, 2);
    &::placeholder {
      color: nth($text-color, 3);
    }
    &[type=date] {
      text-align: right;
      display: block;
    }
  }
  .form-group__hd {
    .form-label {
      // width: 180px;
      height: 80px;
      line-height: 80px;
      margin-top: 6px;
      display: inline-block;
    }
  }
  .form-group__bd {
    flex: 1;
    text-align: right;
  }
  .form-group__ft {
    height: 80px;
    line-height: 80px;
    margin-top: 6px;
    display: inline-block;
    span {
      font-size: 28px;
      color: nth($text-color, 3);
      margin-left: 8px;
    }
  }
}

.form-group-select,
.form-group-picker {
  position: relative;
  select {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-top: 6px;
    -webkit-appearance: none;
    font-size: 28px;
    direction: rtl;
    color: nth($text-color, 3);
  }
  &::after {
    content: " ";
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 4px 4px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: rotate(45deg); // position: relative;
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -8px;
  }
  .form-group__ft {
    padding-right: 24px;
  }
}

.form-group-radio {
  .radio {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 6px 8px 0 60px;
  }
  .weui-icon-checked {
    width: 32px;
    height: 32px; // background: #000;
    background: url(../../images/radio-a.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    margin-right: 20px;
    // vertical-align: sub;
    &::before {
      margin: 0;
      content: '';
      display: block;
      background: url(../../images/radio-b.png) no-repeat 0 0;
      background-size: contain;
    }
  }
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
  width: 32px;
  height: 32px;
  color: transparent;
  content: ''!important;
  font-size: initial;
  background: url(../../images/radio-b.png) no-repeat 0 0;
  background-size: contain;
}

// .weui-picker {
//   .weui-picker__indicator {
//     height: 34px;
//   }
//   .weui-picker__item {
//     font-size: 28px;
//     height: 34px;
//     line-height: 34px;
//     padding: 0;
//   }
// }

.form-group-tarea {
  height: auto;
  margin: 0;
  border-bottom: 2px solid $border-color;
  /*no*/
  .textarea-wrap {
    position: relative;
    padding: 20px 60px;
    height: 410px;
    .textarea {
      width: 100%;
      height: 100%;
      border: 0;
      vertical-align: top;
      font-size: 32px;
      line-height: 48px;
      resize: none;
      outline: 0;
    }
    .count {
      position: absolute;
      right: 60px;
      bottom: 60px;
      text-align: right;
      height: 28px;
      line-height: 28px;
      font-size: 28px;
      color: nth($text-color, 3);
      pointer-events: none;
    }
    .total.overflow {
      color: $primary-color;
    }
  }
}

.form input,
.form textarea,
.form label[for] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//form内插入的空隙
.form-group-separate {
  height: 20px;
  background-color: $bg-color;
  border-bottom: 2px solid $border-color;
  /*no*/
}