.form {
  .form-hd {
    padding: 20px 15px 10px;
    border-bottom: 1px solid $border-color; /*no*/
    span {
      border-left: 3px solid $primary-color;
      padding-left: 10px;
      font-size: 14px;
    }
  }
  .form-bd {
    background-color: #fff; // padding: 0 15px;
    border-bottom: 1px solid $border-color; /*no*/
  }
  .form-ft {
    .btn {
      margin: 30px auto;
      width: 345px; // height: 45px;
      display: block;
    }
  }
}

.form-group {
  border-top: 1px solid $border-color; /*no*/
  height: 44px;
  font-size: 14px;
  margin: 0 15px;
  display: flex;
  &:first-child {
    border-top: 0;
  }
  input {
    width: 100%;
    -webkit-appearance: none;
    font-size: 14px;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    color: nth($text-color, 2);
    &::placeholder {
      color: nth($text-color, 3);
    }
    &[type=date] {
      text-align: right;
      display: block;
    }
  }
  .form-group__hd {
    .form-label {
      // width: 180px;
      height: 40px;
      line-height: 40px;
      margin-top: 2px;
      display: inline-block;
    }
  }
  .form-group__bd {
    flex: 1;
    text-align: right;
  }
  .form-group__ft {
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    display: inline-block;
    span {
      font-size: 14px;
      color: nth($text-color, 3);
      margin-left: 4px;
    }
  }
}

.form-group-select,
.form-group-picker {
  position: relative;
  select {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    height: 40px;
    line-height: 40px;
    -webkit-appearance: none;
    font-size: 14px;
    option {
      color: nth($text-color, 2);
    }
  }
  &::after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: rotate(45deg); // position: relative;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -5px;
  }
  .form-group__ft {
    padding-right: 12px;
  }
}

.form-group-radio {
  .radio {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 2px 4px 0 30px;
  }
  .weui-icon-checked {
    width: 16px;
    height: 16px; // background: #000;
    background: url(../../images/radio-a.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    margin-right: 10px;
    vertical-align: sub;
    &::before {
      margin: 0;
      content: '';
      display: block;
      background: url(../../images/radio-b.png) no-repeat 0 0;
      background-size: contain;
    }
  }
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
  width: 16px;
  height: 16px;
  color: transparent;
  content: '';
  font-size: initial;
  background: url(../../images/radio-b.png) no-repeat 0 0;
  background-size: contain;
}

.weui-picker {
  .weui-picker__indicator {
    height: 34px;
  }
  .weui-picker__item {
    font-size: 14px;
    line-height: 34px;
    padding: 0;
  }
}

.form-group-tarea {
  height: auto;
  margin: 0;
  border-bottom: 1px solid $border-color; /*no*/
  .textarea-wrap {
    position: relative;
    padding: 10px 15px;
    height: 205px;
    .textarea {
      width: 100%;
      height: 100%;
      border: 0;
      vertical-align: top;
      font-size: 16px;
      line-height: 24px;
      resize: none;
      outline: 0;
    }
    .count {
      position: absolute;
      right: 15px;
      bottom: 15px;
      text-align: right;
      height: 14px;
      line-height: 14px;
      font-size: 14px;
      color: nth($text-color, 3);
      pointer-events: none;
    }
    .total.overflow {
      color: $primary-color;
    }
  }
}

.form input,
.form textarea,
.form label[for] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//form内插入的空隙
.form-group-separate {
  height: 10px;
  background-color: $bg-color;
  border-bottom: 1px solid $border-color; /*no*/
}