
@font-face {
  font-family: "productFont";
  src: url('../font/product/iconfont.eot');
  src: url('../font/product/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/product/iconfont.ttf') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  /* iOS 4.1- */
}

.iconfont-prod {
  font-family: "productFont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengque:before {
  content: "\e70f";
}

.icon-shenq:before {
  content: "\e727";
}

.icon-kuais:before {
  content: "\e728";
}

.icon-price:before {
  content: "\e729";
}

.icon-fenlei:before {
  content: "\e72a";
}

.icon-yuyue:before {
  content: "\e72b";
}

.icon-wen:before {
  content: "\e72c";
}

.icon-help:before {
  content: "\e72d";
}

.icon-people:before {
  content: "\e72e";
}

.icon-step:before {
  content: "\e72f";
}

.icon-step1:before {
  content: "\e730";
}

.icon-step2:before {
  content: "\e731";
}

.icon-loud:before {
  content: "\e732";
}

.icon-san:before {
  content: "\e733";
}