@import '../common/form';
.head-title {
  background-color: #fff;
  text-align: center;
  padding: 68px 0 56px;
  p {
    font-size: 32px;
    color: nth($text-color, 4)
  }
}

.icon-yuyue {
  font-size: 88px;
  line-height: 88px;
  margin-bottom: 36px;
  display: block;
  &::before {
    color: $primary-color;
  }
}



.prod-summary {
  // height: 118px;
  padding: 40px 30px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  border-bottom: 2px solid $border-color; /*no*/
  img {
    margin-right: 20px;
    width: 300px;
    height: 156px;
  }
  .txts {
    flex: 1;
    width: 370px;
    .name {
      font-size: 32px;
      line-height: 36px;
    }
    .tagname {
      padding: 0 18px 4px;
      height: 40px;
      line-height: 36px;
      border: 2px solid transparent; /*no*/
      font-size: 22px;
      border-radius: 6px;
      margin: 20px 20px 0 0;
      float: left;
      &.tagcolor-1 {
        color: $primary-color;
        border-color: $primary-color;
      }
      &.tagcolor-2 {
        color: #7D90BB;
        border-color: #7D90BB;
      }
      &.tagcolor-3 {
        color: #76CAA4;
        border-color: #76CAA4;
      }
      &.tagcolor-4 {
        color: #FFA61A;
        border-color: #FFA61A;
      }
    }
  }
}

.container .weui-toptips {
  display: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  line-height: 64px;
  padding: 0 30px;
  font-size: 28px;
  text-align: center;
  color: #fff;
  z-index: 5000;
  word-wrap: break-word;
  word-break: break-all
}

.container .weui-toptips_warn {
  background-color: $primary-color;
}

// 显示结果区域
.result-page {
  text-align: center;
  padding: 72px 0;
  background-color: #fff;
  .icon {
    font-size: 88px;
    line-height: 88px;
    margin-bottom: 40px;
    display: block;
  }
  .icon-zhengque {
    color: #76CAA4;
  }
  .icon-wen {
    color: $primary-color;
  }
  .txts {
    font-size: 28px;
    line-height: 44px;
    color: nth($text-color, 2);
  }
  .btn {
    margin-top: 50px;
  }
}