@import '../common/form';
.head-title {
  background-color: #fff;
  text-align: center;
  padding: 34px 0 28px;
  p {
    font-size: 16px;
    color: nth($text-color, 4)
  }
}

.icon-yuyue {
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 18px;
  display: block;
  &::before {
    color: $primary-color;
  }
}



.prod-summary {
  // height: 118px;
  padding: 20px 15px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid $border-color; /*no*/
  img {
    margin-right: 10px;
    width: 150px;
    height: 78px;
  }
  .txts {
    flex: 1;
    width: 185px;
    .name {
      font-size: 16px;
      line-height: 18px;
    }
    .tagname {
      padding: 0 9px 2px;
      height: 20px;
      line-height: 18px;
      border: 1px solid transparent; /*no*/
      font-size: 11px;
      border-radius: 3px;
      margin: 10px 10px 0 0;
      float: left;
      &.tagcolor-1 {
        color: $primary-color;
        border-color: $primary-color;
      }
      &.tagcolor-2 {
        color: #7D90BB;
        border-color: #7D90BB;
      }
      &.tagcolor-3 {
        color: #76CAA4;
        border-color: #76CAA4;
      }
      &.tagcolor-4 {
        color: #FFA61A;
        border-color: #FFA61A;
      }
    }
  }
}

.weui-toptips {
  display: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  z-index: 5000;
  word-wrap: break-word;
  word-break: break-all
}

.weui-toptips_warn {
  background-color: $primary-color;
}

// 显示结果区域
.result-page {
  text-align: center;
  padding: 36px 0;
  background-color: #fff;
  .icon {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 20px;
    display: block;
  }
  .icon-zhengque {
    color: #76CAA4;
  }
  .icon-wen {
    color: $primary-color;
  }
  .txts {
    font-size: 14px;
    line-height: 22px;
    color: nth($text-color, 2);
  }
  .btn {
    margin-top: 25px;
  }
}