<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../js/flexible.js"></script>
  <link rel="stylesheet" href="../css/weui.min.css">
  <link rel="stylesheet" href="../dist/index.css">
  <title>个人信息</title>
</head>
<body>
  <div class="container" id="container">
    <div class="page article about">
      <div class="page__hd" style="text-align:center;">
        <img src="../images/logo.png" alt="盈百家" style="width:80px;">
      </div>
      <div class="page__bd">
        <article class="weui-article">
          <h1>广东百家投资咨询有限公司</h1>
          <section>
            <p>邮箱：cs@ybj.com<br>电话：020-85690966<br>邮编：510665<br>微信公众号：盈百家网<br>地址：广州市天河区科韵路20号数码港9层</p>
          </section>
        </article>
      </div>
    </div>
  </div>

  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../dist/index.js"></script>

</body>

</html>