<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../js/lib/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="/dist/insurance.css">
  <title>保费测算</title>
  <script>
    var prodId = ''; //开发传ID.这个是没有产品的就为空
  </script>
</head>

<body>
  <div class="container" id="container">
    <div class="prod-summary">
      <a href="./insurance-detail.html">
        <img src="//lorempixel.com/150/78" alt="" class="fl">
        <div class="txts fl">
          <p class="name">鸿运英才少儿险</p>
          <div class="tags"><span class="tagname tagcolor-1">高额保障</span><span class="tagname tagcolor-2">特定重疾保障</span><span class="tagname tagcolor-3">高额满期金</span><span class="tagname tagcolor-4">保障全面</span></div>
        </div>
      </a>
    </div>
    <div class="form form-calc" id="JformCalc">
      <div class="form-hd"><span>输入信息，测算保费</span></div>
      <div class="form-bd">
        <div class="form-group form-group-radio weui-cells_radio">
          <div class="form-group__hd">
            <label class="form-label">性别</label>
          </div>
          <div class="form-group__bd">
            <label class="weui-check__label" for="r1"><div class="radio"><input required type="radio" class="weui-check" name="sex" value="male" id="r1" tips="请选择性别"><span class="weui-icon-checked"></span>男</div></label>
            <label class="weui-check__label" for="r2"><div class="radio"><input required type="radio" class="weui-check" name="sex" value="female" id="r2" tips="请选择性别"><span class="weui-icon-checked"></span>女</div></label>
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group form-group-picker" id="datePickerBtn">
          <div class="form-group__hd">
            <label class="form-label">年龄</label>
          </div>
          <div class="form-group__bd">
            <input type="hidden" name="age" required value="" tips="请选择年龄">
            <!--<input id="datePickerBtn">-->
          </div>
          <div class="form-group__ft"><span class="picker-value"></span></div>
        </div>
        <div class="form-group form-group-select">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <select class="form-control" name="bzqx" required tips="保障期限">
              <option value="" disabled selected>保障期限</option>
              <option value="至100周岁">至100周岁</option>
              <option value="至70周岁">至70周岁</option>
              <option value="30年">30年</option>
              <option value="20年">20年</option>
              <option value="10年">10年</option>
            </select>
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group form-group-select">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <select class="form-control" name="jfqx" required tips="缴费期限">
              <option value="" disabled selected>缴费期限</option>
              <option value="至70周岁">至70周岁</option>
              <option value="30年">30年</option>
              <option value="20年">20年</option>
              <option value="10年">10年</option>
              <option value="10年">1次性缴清</option>
            </select>
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group form-group-select">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <select class="form-control" name="jffs" required tips="缴费方式">
              <option value="" disabled selected>缴费方式</option>
              <option value="年缴">年缴</option>
              <option value="半年缴">半年缴</option>
              <option value="季缴">季缴</option>
              <option value="月缴">月缴</option>
            </select>
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group form-group-select">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <select class="form-control" name="bzed" required tips="保障额度">
              <option value="" disabled selected>保障额度</option>
              <option value="10万元">10万元</option>
              <option value="30万元">30万元</option>
              <option value="50万元">50万元</option>
            </select>
          </div>
          <div class="form-group__ft"></div>
        </div>
        <!--产品如果是手动输入则用下面的-->
        <!--<div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="text" class="form-control" name="bzed" maxlength="5" required pattern="REG_BZED" placeholder="保障额度（单位：万元）"
              emptyTips="请输入保障额度" notMatchTips="请输入正确的保障额度" value="">
          </div>
          <div class="form-group__ft"></div>
        </div>-->
        <div class="form-group">
          <div class="form-group__hd"><label class="form-label">保费</label></div>
          <div class="form-group__bd">
            <input type="text" value="0" name="result" id="result" class="result ta-r">
          </div>
          <div class="form-group__ft"><span>元</span></div>
        </div>
      </div>
      <div class="form-ft">
        <div class="btm-fixed">
          <div class="weui-flex"><a href="./insurance-consult-a.html" class="weui-flex__item">预约咨询</a><a href="javascript:;" class="weui-flex__item" id="Jcalc">保费计算</a></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/dist/insurance.js"></script>
</body>

</html>