<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/product.css">
  <title>保险精选</title>
</head>

<body>
  <div class="container" id="container">
    <div class="banner">
      <a href="#"><img src="" alt=""></a>
    </div>
  </div>
  <script src="/dist/product.js"></script>
</body>

</html>