<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/insurance.css">
  <title>鸿运英才</title>
  <script>
    var prodId = '000'; //开发传ID.这个是没有产品的就为空
  </script>
</head>

<body>
  <div class="container" id="container">
    <div class="prodPic">
      <img src="//lorempixel.com/710/320" alt="">
    </div>

    <div class="prod-summary mt-10">
      <div class="txts">
        <p class="name">鸿运英才少儿险</p>
        <div class="tags"><span class="tagname tagcolor-1">高额保障</span><span class="tagname tagcolor-2">特定重疾保障</span><span class="tagname tagcolor-3">高额满期金</span>
          <span class="tagname tagcolor-4">保障全面</span>
        </div>
      </div>
    </div>

    <div class="box-2">
      <div class="hd">保障范围</div>
      <div class="bd">
        <div class="table table-2-a">
          <p class="row"><span class="col-1">投保年龄</span><span class="col-2">出生满28天-14周岁</span></p>
          <p class="row"><span class="col-1">保障期限</span><span class="col-2">保障至30周岁</span></p>
          <p class="row"><span class="col-1">保障额度</span><span class="col-2">最高20万</span></p>
          <p class="row"><span class="col-1">缴费方式</span><span class="col-2">月缴/年缴</span></p>
          <p class="row"><span class="col-1">保费</span><span class="col-2">394.00元起</span></p>
        </div>
      </div>
    </div>
    <div class="weui-tab weui-tab-prod mt-10" id="insurContTab">
      <ul class="weui-navbar">
        <li class="weui-navbar__item weui-bar__item_on"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="detail">产品详情</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="respon">保障责任</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="case">投保案例</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="procedure">理赔流程</a> </li>
      </ul>
      <div class="weui-tab__panel">
        <div class="weui-tab__content" id="detail">
          <div class="content-wrap">
            <img src="//lorempixel.com/750/1700" alt="">
          </div>
        </div>
        <div class="weui-tab__content" id="respon">
          <div class="content-wrap">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" src2="//lorempixel.com/750/1650" alt="" width="750" height="1650">
            <!--<img src="//lorempixel.com/750/1650" alt="">-->
          </div>
        </div>
        <div class="weui-tab__content" id="case">
          <div class="content-wrap">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" src2="//lorempixel.com/750/1720" alt="" width="750" height="1720">
            <!--<img src="//lorempixel.com/750/1720" alt="">-->
          </div>
        </div>
        <div class="weui-tab__content" id="procedure">
          <div class="content-wrap">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" src2="//lorempixel.com/750/1820/" alt="" width="750" height="1820">
            <!--<img src="//lorempixel.com/750/1820/" alt="">-->
          </div>
        </div>
      </div>
    </div>

    <div class="btm-fixed">
      <a href="./insurance-qa.html"><i class="icon iconfont-prod icon-wen fl"></i></a>
      <div class="weui-flex"><a href="./insurance-calc.html" class="weui-flex__item">保费测算</a><a href="./insurance-consult-a.html" class="weui-flex__item">预约咨询</a></div>
    </div>
  </div>
  <script src="/dist/insurance.js"></script>
</body>

</html>