<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/insurance.css">
  <title>保险精选</title>
</head>

<body>
  <div class="container" id="container">
    <!-- Swiper -->
    <div class="top-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="./insurance-detail.html"><img src="//lorempixel.com/750/340" alt=""></a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="top-entry weui-flex">
      <a href="./insurance-consult-b.html" class="item weui-flex__item">
        <span class="title">保险咨询</span>
        <span class="title-sub">专业顾问一对一服务</span>
        <i class="icon-zx"></i>
      </a>
      <a href="./insurance-filter.html" class="item weui-flex__item">
        <span class="title">快速选保险</span>
        <span class="title-sub">懂保险，就想这样选</span>
        <i class="icon-xz"></i>
      </a>
    </div>

    <div class="weui-tab mt-10" id="insurListTab">
      <ul class="weui-navbar">
        <li class="weui-navbar__item weui-bar__item_on"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleAll">全部</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleAdult">成人</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleChild">少儿</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleOld">老人</a> </li>
      </ul>
      <div class="weui-tab__panel">
        <div class="weui-tab__content" id="peopleAll">
          <ul class="prod-list">
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">重疾险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="weui-tab__content" id="peopleAdult">
          <ul class="prod-list">
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障aaa</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="weui-tab__content" id="peopleChild">
          <ul class="prod-list">
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障aaa</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="weui-tab__content" id="peopleOld">
          <ul class="prod-list">
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障aaa</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="item">
              <a href="./insurance-detail.html">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元<em>起</em></span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btm-tips"><span class="txt">我是有底线的</span></div>
    <!--帮你选默认隐藏-->
    <div class="helper" id="Jhelper" data-help="true"><i class="icon iconfont-prod icon-san"></i><span>帮你选</span></div>
  </div>
  <script src="/dist/insurance.js"></script>
</body>

</html>