<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/insurance.css">
  <title>常见问题</title>
</head>

<body>
  <div class="container" id="container">
    还没做呢...点什么点哦~
    <div class="asking">
      <a href="./insurance-consult-b.html" class="fs-16">请专业顾问帮忙<i class="icon iconfont-prod icon-help"></i></a>
    </div>
  </div>
  <script src="/dist/insurance.js"></script>
</body>

</html>