<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/insurance.css">
  <title>常见问题</title>
</head>

<body>
  <div class="container" id="container" style="padding-bottom:50px;">
    <ul class="qa-list" id="JqaList">
      <li class="item">
        <i class="icon iconfont-prod icon-wen"></i>
        <div class="txts">
          <p class="question">年度免赔额是什么意思？免赔额5000元可以用什么来抵扣？</p>
          <p class="answer">这款产品的年度免赔额是5000元。社保支付的部分不能用来抵扣免赔额，但是在其他商业保险获得赔付的部分可以用来抵扣免赔额。</p>
        </div>
      </li>
      <li class="item">
        <i class="icon iconfont-prod icon-wen"></i>
        <div class="txts">
          <p class="question">住院险能否重复理赔,本文为你详解!</p>
          <p class="answer">对于住院医疗险的报销通常只有两种情况：如果购买的是津贴型的住院医疗险的话是可以重复理赔的，它的赔付是不与实际花费有关，只看购买额度；如果是报销型的住院医疗险，这种在报销时如果有多份的话累计报销上限是不可以超过实际花费的，最高报销额度小于等于实际花费。</p>
        </div>
      </li>
      <li class="item">
        <i class="icon iconfont-prod icon-wen"></i>
        <div class="txts">
          <p class="question">怎么样为自己未来的退休生活提供保障呢？</p>
          <p class="answer">这款产品的年度免赔额是5000元。社保支付的部分不能用来抵扣免赔额，但是在其他商业保险获得赔付的部分可以用来抵扣免赔额。</p>
        </div>
      </li>
      <li class="item hide">
        <i class="icon iconfont-prod icon-wen"></i>
        <div class="txts">
          <p class="question">这是被隐藏的问题</p>
          <p class="answer">这款产品的年度免赔额是5000元。社保支付的部分不能用来抵扣免赔额，但是在其他商业保险获得赔付的部分可以用来抵扣免赔额。</p>
        </div>
      </li>
      <li class="item hide">
        <i class="icon iconfont-prod icon-wen"></i>
        <div class="txts">
          <p class="question">这是被隐藏的问题</p>
          <p class="answer">这款产品的年度免赔额是5000元。社保支付的部分不能用来抵扣免赔额，但是在其他商业保险获得赔付的部分可以用来抵扣免赔额。</p>
        </div>
      </li>
    </ul>
    <p class="loadmore" data-bindlist="JqaList">点击加载更多</p>
    <div class="asking">
      <a href="./insurance-consult-b.html" class="fs-16">请专业顾问帮忙<i class="icon iconfont-prod icon-help"></i></a>
    </div>
  </div>
  <script src="/dist/insurance.js"></script>
</body>

</html>