<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/product.css">
  <title>保险列表</title>
</head>

<body>
  <div class="container" id="container">
    <div class="weui-tab" id="tab">
      <ul class="weui-navbar">
        <li class="weui-navbar__item weui-bar__item_on"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleAll">全部</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleAdult">成人</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleChild">少儿</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="peopleOld">老人</a></li>
        <li class="jswipelayershow"><a class="tabs-item">筛选<i class="icon iconfont-prod icon-loud"></i></a></li>
      </ul>
      <div class="weui-tab__panel">
        <div class="weui-tab__content" id="peopleAll">
          <ul class="prod-list">
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">重疾险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">重疾险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">重疾险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">重疾险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="weui-tab__content" id="peopleAdult">
          <ul class="prod-list">
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障aaa</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="weui-tab__content" id="peopleChild">
          <ul class="prod-list">
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障aaa</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="weui-tab__content" id="peopleOld">
          <ul class="prod-list">
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障aaa</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾</p>
                </div>
              </a>
            </li>
            <li class="mt-10">
              <a href="#">
                <div class="img-wrap">
                  <img src="//lorempixel.com/710/320" alt="">
                  <span class="tag-type">意外险</span>
                </div>
                <div class="txt-wrap">
                  <p class="txt-head">
                    <span class="title fl">平安福享安康重疾保障</span>
                    <span class="price fr iconfont-prod icon-price">760.00元</span>
                  </p>
                  <p class="txt-sub">返还比例高达128%的重疾2222222222</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btm-tips"><span class="txt">我是有底线的</span></div>
    <!--帮你选默认隐藏-->
    <div class="helper" id="Jhelper"><i class="icon iconfont-prod icon-san"></i><span>帮你选</span></div>
    <div class="swipe-layer">
      <div class="overlay"></div>
      <div class="insurance-filter" id="insuranceFilter">
        <div class="box box-filter">
          <div class="hd"><i class="icon iconfont-prod icon-fenlei"></i>保险分类</div>
          <div class="bd">
            <ul class="catigory-list list-col-3">
              <li class="on"><a href="javascript:;">全部</a></li>
              <li><a href="javascript:;">重疾险</a></li>
              <li><a href="javascript:;">健康医疗</a></li>
              <li><a href="javascript:;">寿险</a></li>
              <li><a href="javascript:;">少儿教育金</a></li>
              <li><a href="javascript:;">养老保险</a></li>
              <li><a href="javascript:;">其他保险</a></li>
            </ul>
          </div>
        </div>
        <div class="box box-filter">
          <div class="hd"><i class="icon iconfont-prod icon-people"></i>保障对象</div>
          <div class="bd">
            <ul class="catigory-list list-col-3">
              <li class="on"><a href="javascript:;">全部</a></li>
              <li><a href="javascript:;">少儿</a></li>
              <li><a href="javascript:;">老人</a></li>
              <li><a href="javascript:;">成年</a></li>
            </ul>
          </div>
        </div>
        <div class="btn-wrap">
          <a href="javascript:;" class="btn btn-cancel">取消</a>
          <a href="javascript:;" class="btn btn-okay">确定</a>
        </div>
      </div>
    </div>

  </div>
  <script src="/dist/product.js"></script>
</body>

</html>