<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../js/lib/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="/dist/insurance.css">
  <title>预约咨询</title>
  <script>
    var prodId = '000'; //开发传ID.这个是没有产品的就为空
  </script>
</head>

<body>
  <div class="container" id="container">
    <div class="prod-summary">
      <a href="./insurance-detail.html">
        <img src="//lorempixel.com/150/78" alt="" class="fl">
        <div class="txts fl">
          <p class="name">鸿运英才少儿险</p>
          <div class="tags"><span class="tagname tagcolor-1">高额保障</span><span class="tagname tagcolor-2">特定重疾保障</span><span class="tagname tagcolor-3">高额满期金</span><span class="tagname tagcolor-4">保障全面</span></div>
        </div>
      </a>
    </div>
    <div class="form" id="Jform" action="">
      <div class="form-hd"><span>快速预约，一对一专业解答</span></div>
      <div class="form-bd">
        <div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="text" class="form-control" name="nickname" maxlength="10" required pattern="REG_NICKNAME" placeholder="称呼" emptyTips="请输入称呼"
              notMatchTips="请输入正确的称呼" value="旭东">
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="tel" class="form-control" name="mobile" maxlength="11" required pattern="REG_MOBILE" placeholder="手机号" emptyTips="请输入手机号"
              notMatchTips="请输入正确的手机号" value="18600000000">
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group form-group-select">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <select class="form-control" name="contacttime" required tips="请选择你方便的联系时段">
              <option value="" disabled selected>请选择你方便的联系时段</option>
              <option value="上午8:00-12:00">上午8:00-12:00</option>
              <option value="下午12:00-18:00">下午12:00-18:00</option>
              <option value="下午18:00-23:00">下午18:00-23:00</option>
            </select>
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group form-group-select">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <select class="form-control" name="contacttype" required tips="请选择保障类型">
              <option value="" disabled selected>请选择保障类型</option>
              <option value="意外保险">意外保险</option>
              <option value="重疾保险">重疾保险</option>
              <option value="寿险">寿险</option>
              <option value="其他blabla">其他blabla</option>
            </select>
          </div>
          <div class="form-group__ft"></div>
        </div>
      </div>
      <div class="form-ft">
        <a href="javascript:;" class="btn btn-okay" id="JsubmitForm">马上预约</a>
      </div>
    </div>
  </div>
  <script src="/dist/insurance.js"></script>
</body>

</html>