<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../js/lib/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="/dist/loan-scss.css">
  <link rel="stylesheet" type="text/css" href="/dist/loan-css.css">
  <title>贷款精选</title>
</head>

<body>
  <div class="container" id="container">
    <!-- Swiper -->
    <div class="top-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="./loan-detail.html"><img src="//lorempixel.com/750/340" alt=""></a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="top-entry">
      <a href="#" class="item">
        <span class="fl">流程简单，资料齐全放款快至1天</span>
        <span class="fr btn btn-info">立即申请</span>
      </a>
    </div>
    <div class="weui-flex apply-step">
      <div class="item weui-flex__item">
        <i class="icon iconfont-prod icon-step2"></i>
        <p>1 提交申请</p>
      </div>
      <div class="item weui-flex__item">
        <i class="icon iconfont-prod icon-step1"></i>
        <p>2 资料审核</p>
      </div>
      <div class="item weui-flex__item">
        <i class="icon iconfont-prod icon-step"></i>
        <p>3 发放贷款</p>
      </div>
    </div>

    <ul class="prod-list">
      <li class="item">
        <a href="./loan-detail.html">
          <div class="img-wrap">
            <img src="//lorempixel.com/710/320" alt="">
          </div>
          <div class="txt-wrap">
            <p class="txt-head">
              <span class="title fl">平安福享安康sssa</span>
              <span class="price fr"><em>最高</em>760万元</span>
            </p>
            <p class="txt-sub">返还比例高达128%的重疾</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="./loan-detail.html">
          <div class="img-wrap">
            <img src="//lorempixel.com/710/320" alt="">
          </div>
          <div class="txt-wrap">
            <p class="txt-head">
              <span class="title fl">平安福dsadaa</span>
              <span class="price fr"><em>最高</em>750万元</span>
            </p>
            <p class="txt-sub">返还比例高达128%的重疾</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="./loan-detail.html">
          <div class="img-wrap">
            <img src="//lorempixel.com/710/320" alt="">
          </div>
          <div class="txt-wrap">
            <p class="txt-head">
              <span class="title fl">小白啊啊啊啊</span>
              <span class="price fr"><em>最高</em>760万元</span>
            </p>
            <p class="txt-sub">返还比例高达128%的重疾</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="./loan-detail.html">
          <div class="img-wrap">
            <img src="//lorempixel.com/710/320" alt="">
          </div>
          <div class="txt-wrap">
            <p class="txt-head">
              <span class="title fl">嘎嘎嘎</span>
              <span class="price fr"><em>最高</em>760万元</span>
            </p>
            <p class="txt-sub">返还比例高达128%的重疾</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="./loan-detail.html">
          <div class="img-wrap">
            <img src="//lorempixel.com/710/320" alt="">
          </div>
          <div class="txt-wrap">
            <p class="txt-head">
              <span class="title fl">平安福享安康重疾保障aaa</span>
              <span class="price fr"><em>最高</em>760万元</span>
            </p>
            <p class="txt-sub">返还比例高达128%的重疾</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="btm-tips"><span class="txt">我是有底线的</span></div>
  </div>
  <script src="/dist/loan.js"></script>
</body>

</html>