<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <link rel="stylesheet" type="text/css" href="/dist/loan.css">
  <title>中腾信贷款</title>
  <script>
    var prodId = '000'; //开发传ID.这个是没有产品的就为空
  </script>
</head>

<body>
  <div class="container" id="container">
    <div class="prodPic">
      <img src="//lorempixel.com/710/320" alt="">
    </div>

    <div class="prod-summary mt-10">
      <div class="txts">
        <p class="name">中腾信工薪贷</p>
        <div class="tags"><span class="tagname tagcolor-1">高额贷款</span><span class="tagname tagcolor-2">前30天免息</span><span class="tagname tagcolor-3">高额满期金</span>
          <span class="tagname tagcolor-4">专业快速</span>
        </div>
      </div>
    </div>

    <div class="box-2">
      <div class="hd">保障范围</div>
      <div class="bd">
        <div class="table table-2-a">
          <p class="row"><span class="col-1">贷款额度</span><span class="col-2"> 1.0 - 15.0 万</span></p>
          <p class="row"><span class="col-1">贷款期限</span><span class="col-2">1年/2年/3年</span></p>
          <p class="row"><span class="col-1">利率范围</span><span class="col-2">0.69%~1.0%/月</span></p>
        </div>
      </div>
    </div>
    <div class="weui-tab weui-tab-prod mt-10" id="loanContTab">
      <ul class="weui-navbar">
        <li class="weui-navbar__item weui-bar__item_on"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="detail">产品详情</a></li>
        <li class="weui-navbar__item"><a class="tabs-item" href="javascript:;" data-ajax="" data-type="procedure">贷款流程</a></li>
      </ul>
      <div class="weui-tab__panel">
        <div class="weui-tab__content" id="detail">
          <div class="content-wrap">
            <img src="//lorempixel.com/750/1700" alt="">
          </div>
        </div>
        <div class="weui-tab__content" id="procedure">
          <div class="content-wrap">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII="
              src2="//lorempixel.com/750/1820/" alt="" width="750" height="1820">
            <!--<img src="//lorempixel.com/750/1820/" alt="">-->
          </div>
        </div>
      </div>
    </div>

    <div class="btm-fixed">
      <div class="weui-flex"><a href="./loan-help.html" class="weui-flex__item">贷款咨询</a><a href="./loan-consult-a.html" class="weui-flex__item" id="Jcalc">贷款申请</a></div>
    </div>
  </div>
  <script src="/dist/loan.js"></script>
</body>

</html>