<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">
  <script src="../js/lib/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="/dist/loan-scss.css">
  <link rel="stylesheet" type="text/css" href="/dist/loan-css.css">
  <title>预约贷款</title>
  <script>
    var prodId = ''; //开发传ID.这个是没有产品的就为空
  </script>
</head>

<body>
  <div class="container" id="container">
    <!--<div class="result-page"><i class="icon iconfont-prod icon-zhengque"></i><p class="txts">你的咨询预约已成功提交<br>专业顾问将很快与你联系，请保持手机通话顺畅！</p><a href="#" class="btn btn-okay">查看更多产品</a></div>-->
    <div class="form mt-32" id="Jform" action="" data-type="create">
      <div class="form-hd" style="padding:0;"></div>
      <div class="form-bd">
        <div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="text" class="form-control" name="nickname" maxlength="10" required pattern="REG_NICKNAME" placeholder="称呼" emptyTips="请输入称呼"
              notMatchTips="请输入正确的称呼" value="小白">
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="tel" class="form-control" name="money" maxlength="8" required pattern="REG_SQJE" placeholder="申请金额" emptyTips="请输入申请金额"
              notMatchTips="请输入正确的申请金额" value="">
          </div>
          <div class="form-group__ft"><span>元</span></div>
        </div>
        <div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="tel" class="form-control" name="mobile" maxlength="11" required pattern="REG_MOBILE" placeholder="手机号" emptyTips="请输入手机号"
              notMatchTips="请输入正确的手机号" value="18680222005">
          </div>
          <div class="form-group__ft"></div>
        </div>
        <div class="form-group">
          <div class="form-group__hd"></div>
          <div class="form-group__bd">
            <input type="tel" class="form-control" name="vcode" maxlength="11" required pattern="REG_VCODE" placeholder="验证码" emptyTips="请输入验证码"
              notMatchTips="请输入正确的验证码" value="">
          </div>
          <div class="form-group__ft"><a href="javascript:;" class="btn btn-info getVcode" data-action="${contextPath}/userFront/genVerificationCode">获取验证码</a></div>
        </div>
      </div>
      <div class="form-ft">
        <a href="javascript:;" class="btn btn-okay" id="JsubmitForm">立即申请</a>
      </div>
    </div>
  </div>
  <!--<div class="result-page result-success">
    <i class="icon iconfont-prod icon-zhengque"></i>
    <p class="txts">你的咨询预约已成功提交</br>专业顾问将很快与你联系，请保持手机通话顺畅！</p>
  </div>-->
  <script src="/dist/loan.js"></script>
</body>

</html>